<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/opentutorials?characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="1030" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- ///////////////////////////////////aop//////////////////////////////////////// -->


    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <tx:annotation-driven/>

    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
       <!-- <tx:attributes>
            <tx:method name="getAll" read-only="true"/>
            <tx:method name="*" />
        </tx:attributes>-->

    </tx:advice>

    <aop:config>
        <aop:pointcut id="transactionPointcut" expression="bean(*Service)"/>
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPointcut"/>
    </aop:config>





    <!--  application components -->

    <bean id="userDao" class="RealConnection.dao.UserDaoJdbcTemplate">
        <property name="jdbcTemplate" ref="dataSource"/>
    </bean>

    <bean id="userService" class="RealConnection.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="mailSender" ref="mailSenders"/>
    </bean>

    <bean id="testUserService" class="RealConnection.service.UserServiceImpl$TestUserServiceImpl" parent="userService"/>




    <bean id="mailSenders" class="RealConnection.service.DummyMailSender" />

    <!--<bean id="message" class="RealConnection.test.MessageFactoryBean">
        <property name="text" value="factoryBean"/>
    </bean>-->


<!--    <bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="userServiceImpl"/>
        <property name="interceptorNames">
            <list>
                <value>transactionAdvisor</value>
            </list>
        </property>
    </bean>-->

    <!--   <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="mail.server.com"/>
    </bean>-->


    <!--   <bean id="transactionHandler" class="RealConnection.service.TransactionHandler">
           <property name="transactionManager" ref="transactionManager"/>
           <property name="target" ref="userServiceImpl"/>
           <property name="pattern" value="get"/>
       </bean>
   -->
    <!--  <bean id="userService" class="RealConnection.service.TxProxyFactoryBean">
          <property name="pattern" value="upgradeLevel"/>
          <property name="target" ref="userServiceImpl"/>
          <property name="transactionManager" ref="transactionManager"/>
          <property name="serviceInterface" value="RealConnection.service.UserService"/>
      </bean>-->

    <!--    <bean id ="rowMapper" class="org.springframework.jdbc.core.RowMapper">-->
    <!--        <property name=""-->
    <!--    </bean>-->
    <!--    <bean id="userDao" class="RealConnection.dao.UserDaoJdbcTempleateJdbcTempleate">-->
    <!--        <property name="rowMapper" ref="rowMapper"/>-->
    <!--    </bean>-->
    <!-- 테스트용 bean-->


</beans>
